:host{
    width: 80%;
    height:80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}

.gridContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* I think this can go
/* .bracket {
    background-color: blueviolet;
    width: 100%;
    height:20%;
}
 */