:host{
    width     : calc(100%/3);
    height    : calc(100%/3);
    font-size : 14.5vw;
    text-align: center;
    line-height: 100%;
}

:host(:hover){
    filter:brightness(80%);
}

.player{
    width  : 100%;
    height : 100%;
}

.enemy{
    width  : 100%;
    height : 100%;
    background-color: red;
}

.empty{
    width  : 100%;
    height : 100%;
    background-color: beige;
}